<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="Settings" type="StockApi.SettingsSection, StockApi" />
		<section name="SearchTokens" type="StockApi.SearchTokensSection, StockApi" />
	</configSections>

	<Settings>
		<token name="ExcelTradesPath" value="C:\\Users\\Uber\\Desktop\\Stocks 2023_w_Trades.xlsx" />
	</Settings>

	<SearchTokens>
		<token name="Price" term="livePrice " />
		<token name="EPS" term="EPS (TTM)" />
		<token name="Volatility" term="Beta (5Y Monthly)" />
		<token name="Dividend" term="Forward Dividend" />
		<token name="One Year Target" term="1y Target Est" />
		<token name="Fair Value" term="Fair Value" />
		<token name="Profit Margin" term="Profit Margin" />
		<token name="Price/Book" term="Price/Book" />
		<token name="Short Interest" term="Short % of Shares Outstanding" />
		<token name="Total Revenue" term=">Total Revenue" />
	</SearchTokens>
</configuration>
