<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="Settings" type="StockApi.SettingsSection, StockApi" />
		<section name="SearchTokens" type="StockApi.SearchTokensSection, StockApi" />
	</configSections>

	<Settings>
		<token name="ExcelTradesPath" value="C:\\Users\\Uber\\Desktop\\Stocks 2023_w_Trades.xlsx" />
	</Settings>

	<SearchTokens>
		<token name="Price" term="qsp-price&quot;" />
		<token name="EPS" term="EPS (TTM)" />
		<token name="Volatility" term="Beta (5Y Monthly)" />
		<token name="Dividend" term="Forward Dividend" />
		<token name="Dividend2" term="Yield" />
		<token name="One Year Target" term="1y Target Est" />
		<token name="Fair Value" term="Fair Value" />
		<token name="Profit Margin" term="Profit Margin" />
		<token name="Price/Book" term="Price/Book" />
		<token name="Short Interest" term="Short % of Shares Outstanding" />
		<token name="Total Revenue" term=">Total Revenue" />
		<token name="Cost of Revenue" term=">Cost of Revenue" />
		<token name="Operating Expense" term=">Operating Expense" />
		<token name="Net Income Common" term="Net Income Common" />
		<token name="Basic EPS" term="Basic EPS" />
		<token name="Total Expenses" term=">Total Expenses" />
		<token name="Total Cash" term=">Total Cash  (mrq)" />
		<token name="Total Debt" term=">Total Debt  (mrq)" />
		<token name="Debt/Equity" term=">Total Debt/Equity" />
		<token name="Company Overview" term="company-overview-card" />
		<token name="52 Week Range" term="52 Week Range" />
		<token name="Forward P/E" term="Forward P/E" />
		<token name="Earnings Date" term="Earnings Date" />
		
	</SearchTokens>
</configuration>
