<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
      <section name="SearchTokens" type="StockApi.SearchTokensSection, StockApi" />
    </configSections>
	
	<SearchTokens>
		<token name="Dividend" term="Forward Dividend" />
		<token name="Price" term="livePrice " />
	</SearchTokens>
</configuration>
